[Desktop Entry]
Name=Niri Workspace applet
Exec=niri-workspace-applet %F
Terminal=false
Type=Application
StartupNotify=true
Icon=com.github.blindinlights.NiriWorkSpaceApplet
Categories=COSMIC;Utility,Niri;
Keywords=Folder;Manager;
MimeType=inode/directory;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
